<%= render 'shared/header', header: 'Search Results', subtitle: "'" + @query + "'" %>

<div class="container">
  <ul class='nav nav-tabs'>
    <li class="<%= 'active' if params[:tab].nil?%>">
      <%= link_to "Articles (#{@articles.size})", results_path %>
    </li>
    <li class="<%= 'active' if params[:tab]=='events'%>">
      <%= link_to "Events (#{@events.size})", results_path(tab: 'events') %>
    </li>
    <li class="<%= 'active' if params[:tab]=='concepts'%>">
      <%= link_to "Concepts (#{@concepts.size})", results_path(tab: 'concepts') %>
    </li>
    <li class="<%= 'active' if params[:tab]=='opinions'%>">
      <%= link_to "Opinions (#{@opinions.size})", results_path(tab: 'opinions') %>
    </li>
  </ul>
</div>

<br/>

<div class="container">
  <% if params[:tab].nil? %>

    <% @articles.each do |article| %>
      <%= render 'articles/show_article', article: article %>
    <% end %>

  <% elsif params[:tab] == 'events' %>

    <% @events.each do |event| %>
      <%= render 'events/show_event', event: event %>
    <% end %>

  <% elsif params[:tab] == 'concepts' %>

    <% @concepts.each do |concept| %>
      <%= render 'concepts/show_concept', concept: concept %>
    <% end %>

  <% elsif params[:tab] == 'opinions' %>

    <% @opinions.each do |opinion| %>
      <%= render 'opinions/show_opinion', opinion: opinion %>
    <% end %>

  <% end %>
</div>