<%= render 'shared/header', header: 'Concepts', subtitle: nil %>

<div class="container">
<% @concept.each do |concept| %>
    <div class="well well-lg">
      <h4>
        <%=concept.concept%> (<%=concept.context%>)
        <%= link_to concept_path(concept) do %>
          <span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>
      </h4>
      <p class="quiet">posted by <%=concept.user.first_name%> on <%=concept.created_at%></p>
      <hr/>

      
      <% if concept.briefs.empty? #ask user to create one %>
        <p>Be the first to <%= link_to 'brief the concept', new_brief_path(type: 'Concept', id: concept.id) %></p>
        <hr/>
      <% else #show top voted brief %>
        <% brief = concept.briefs.first %>
        <h5>Briefed by <%=brief.user.first_name%></h5>
        <p class="quiet">on <%=brief.created_at%></p>
        <p><%= simple_format(brief.body) %></p>
      <% end %>
    </div>
<% end %>
</div>