<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path do %>
        <div class="navbar-brand"><span class="glyphicon glyphicon-file"></span></div>
      <% end %>
    </div>
    
    <% if logged_in? # show more options %>
      <div class='nav_item'>
        <%= link_to 'New Article', new_article_path, class: "navbar-text" %>
      </div>
    <% end %>

    <div id="navbar" class="navbar-collapse collapse">
      <!--Sign in -->
      <!-- <form action='/login', method='post', class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form> -->
      <% if logged_in? #show logout button%>
        <%= link_to 'Logout', '/logout', class: 'navbar-text navbar-right' %>
      <% else # show login form %>
        <%= form_tag '/login', class: "navbar-form navbar-right" do %>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "Email" %>
          <%= text_field_tag :password, nil, class: "form-control", placeholder: "Password", type: 'password' %>
          <%= submit_tag 'Sign in', class: 'btn btn-success' %>
        <% end %>
      <% end %>

    </div><!--/.navbar-collapse -->
  </div>
</nav>