<nav class="navbar navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <%= link_to root_path do %>
        <div class="navbar-brand"><span class="glyphicon glyphicon-briefcase"></span></div>
      <% end %>
    </div>
    
    <% if logged_in? # show more options %>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
          <span class='glyphicon glyphicon-user'></span>
          <%= current_user.first_name %> 
          <span class='caret'></span>
        <% end %>
        <ul class="dropdown-menu" role="menu">
          <li><%=link_to 'new Article', new_article_path %></li>
          <li><%=link_to 'new Event', new_event_path %></li>
          <li><%=link_to 'new Concept', new_concept_path %></li>
          <li><%=link_to 'new Opinion', new_opinion_path %></li>
          <li class="divider"></li>
          <li>
            <%= link_to '/logout' do %>
              <span class='glyphicon glyphicon-log-out'></span>
             Logout
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
    <% end %>

    <div class='nav_item'>
        <%= link_to 'Articles', root_path, class: "navbar-text" %>
        <%= link_to 'Events', events_path, class: "navbar-text" %>
        <%= link_to 'Concepts', concepts_path, class: "navbar-text" %>
        <%= link_to 'Opinions', opinions_path, class: "navbar-text" %>
    </div>

    

    <div id="navbar" class="navbar-collapse collapse">

      <% if !logged_in? #show login button%>
        <%= link_to 'Sign in', '/login', class: 'navbar-text navbar-right' %>
        <span class="navbar-text navbar-right"> | </span>
      <% end %>

      <%= form_tag searches_path, class: "navbar-form navbar-right" do %>
        <%= select_tag "type", "<option>Articles</option><option>Events</option><option>Concepts</option><option>Opinions</opinion".html_safe, class: "form-control" %>
        <%= text_field_tag :query, nil, class: "form-control" %>
        <%= button_tag nil, class: 'btn btn-success' do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      <% end %>

    </div><!--/.navbar-collapse -->
  </div>
</nav>